<% if can?(:gen_card, Candidate) %>
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%= t(:expert_card) %>">
    <%= fa_icon_tag('drivers-license-o') %> <%#= t(:expert_card) %>
</button>
<div class="dropdown-menu">
    <% CardTemplate::GROUP.each do |group| %>
        <% next if CardTemplate.where(group: group).count.zero? %>
        <div class="dropdown-header"><%= group %></div>
        <% CardTemplate.where(group: group).order(id: :desc).pluck(:name, :id).each do |option| %>
            <%= link_to option[0], 'javascript:void(0);', class: 'dropdown-item', onclick: "cardTemplate(#{option[1]}, #{uid});" %>
        <% end %>
    <% end %>
</div>
<% end %>