<ul class="nav nav-tabs">
    <li class="nav-item">
        <%= link_to kpi_summaries_path, class: "nav-link #{active == 1 ? 'active' : ''}" do %>
            <i class="fa fa-table"></i> <%= mt(:kpi_summary) %>
        <% end %>
    </li>
</ul>