<div id="app" class="mb-2">
    <el-row class="mb-2" :gutter="10">
        <el-col :lg="4" :md="8">
            <el-date-picker
                v-model="company_summary.datetime"
                @change="load_company_options()"
                type="month"
                size="small"
                value-format="yyyy-MM-dd"
                placeholder="选择月份"
                style="width: 100%;"
            />
        </el-col>
        <el-col :lg="4" :md="8">
            <el-select
                v-model="company_summary.company_id"
                @change="load_company_summary"
                size="small"
                :disabled="!company_summary.datetime || company_summary.all_companies"
                clearable
                placeholder="选择客户"
                style="width: 100%;"
            >
                <el-option
                    v-for="item in companies"
                    :key="item[1]"
                    :label="item[0]"
                    :value="item[1]">
                </el-option>
            </el-select>
        </el-col>
        <el-col :lg="4" :md="8">
            <el-checkbox 
                v-model="company_summary.all_companies"
                :disabled="!company_summary.datetime"
                @change="load_company_summary"
            >
                全部公司
            </el-checkbox>
        </el-col>
    </el-row>
    <el-row class="mb-2">
        <el-col v-for="(s, index) in init_data" :key="s.name" :lg="8" :md="16" class="mb-2">
            <el-tree
                v-if="s.name"
                :data="[s]"
                node-key="id"
                :props="{ label: 'name', children: 'infos' }"
                default-expand-all
                :expand-on-click-node="false" style="width: 100%;">
                <span class="c-tree-node" slot-scope="{ node, data }">
                    <span :class="data.company_id ? 'text-bold' : ''">
                        {{ data.name }}
                        <el-tag v-if="data.company_id && !data.id" type="danger" size="mini">new</el-tag>
                    </span>
                    <span>
                        <el-tag v-if="data.remark" size="small">{{ data.remark }}</el-tag>
                        <el-input
                            v-if="!data.company_id"
                            v-model="data.price"
                            :disabled="data.disabled"
                            size="mini"
                            type="number"
                            placeholder="输入金额"
                            clearable>
                        </el-input>
                    </span>
                </span>
            </el-tree>
        </el-col>
    </el-row>
    <el-button type="primary" size="small" @click="submit" :disabled="init_data.length === 0">保存</el-button>
    <el-link href="/company_summaries/v_index" :underline="false">
        <el-button type="info" size="small">返回</el-button>
    </el-link>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            mode: '',  // new/edit
            companies: [],
            company_summary: {
                id: '<%= params[:company_summary_id] %>',
                datetime: '',
                company_id: '',
                all_companies: false,
            },
            init_data: []
        },
        mounted: function(){
            this.$nextTick(function(){
                let _this_ = this;
                if (this.company_summary.id) {
                    $.get(`/company_summaries/v_summary_show`, { company_summary_id: this.company_summary.id }, function (res) {
                        _this_.company_summary = res.data.company_summary
                        _this_.load_company_options(_this_.company_summary.company_id)
                        _this_.load_company_summary()
                    })
                    this.mode = 'edit'
                    console.log('edit mode')
                } else {
                    this.mode = 'new'
                    console.log('new mode')
                }
            })
        },
        methods: {
            load_company_options (company_id) {
                if (this.company_summary.datetime) {
                    let _this_ = this;
                    $.get('/company_summaries/v_company_options', { datetime: this.company_summary.datetime } ,function(res) {
                        if (res.status === 0) {
                            _this_.companies = res.data.companies
                            _this_.company_summary.company_id = company_id || ''
                            console.log('load companies ok:', _this_.companies)
                        } else if (res.status === 1) {
                            _this_.$message({ message: res.msg, type: 'error' })
                        }
                    })
                    if (this.company_summary.all_companies) {
                        this.load_company_summary()
                    }
                } else {
                    this.companies = []
                    this.company_summary.company_id = ''
                    this.company_summary.all_companies = false
                    this.init_data = []
                }
            },
            load_company_summary () {
                let _this_ = this
                let call_api = false
                let params = {}
                if (this.company_summary.datetime && this.company_summary.all_companies) {
                    call_api = true
                    params = { datetime: this.company_summary.datetime }
                    this.company_summary.company_id = ''
                } else if (this.company_summary.datetime && this.company_summary.company_id) {
                    call_api = true
                    params = { datetime: this.company_summary.datetime, company_id: this.company_summary.company_id }
                } else {
                    this.init_data = {}
                }
                if (call_api) {
                    $.get('/company_summaries/v_summary_init', params, function (res) {
                        if (res.status === 0) {
                            _this_.init_data = res.data
                            console.log('load init_data ok:', _this_.init_data)
                        } else if (res.status === 1) {
                            _this_.init_data = {}
                            _this_.$message({ message: res.msg, type: 'error' })
                        }
                    })
                }
            },
            submit () {
                let _this_ = this
                if (!this.company_summary.datetime) { 
                    this.$message({ message: '请选择月份', type: 'warning' });
                    return
                }
                if (!this.company_summary.company_id && !this.company_summary.all_companies) {
                    this.$message({ message: '请选择客户', type: 'warning' });
                    return
                }
                let params = { data: this.init_data }
                $.post('/company_summaries/v_summary_update', params, function (res) {
                    console.log('v_summary_update res:', res)
                    if (res.status === 0) {
                        _this_.$message({ message: '提交成功', type: 'success' })
                    } else if (res.status === 1) {
                        _this_.$message({ message: res.msg, type: 'error' })
                    }
                })
            }
        }
    })
</script>

<style>
  .c-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  .el-tree-node__content {
    height: 30px;
  }
  .el-input.is-disabled .el-input__inner {
    color: #606266;
  }
  .el-input {
    width: auto;
  }
</style>