<%= render partial: 'company_summaries/widgets/nav', locals: { active: 1 } %>

<div class="card p-2 mb-2">
    <div class="card-header">
        <h5><%= t('action.edit_model', model: mt(:company_summary)) %></h5>
        <%= link_to fa_icon_tag('arrow-left'), return_to(v_index_company_summaries_path), class: 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= render partial: 'v_summary_form' %>
    </div>
</div>