<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <%= t('dashboard.ongoing_tasks') %>
            <%= content_tag :span, @count, :class => 'badge badge-success' %>
        </h5>
        <%= link_to fa_icon_tag('close'), root_path, :class => 'card-header-close' %>
    </div>
    <div class="card-body">
        <%= render partial: 'wait_to_bill_projects_content' %>
    </div>
</div>