## 新需求 ##
OK => 1. 项目详情页中, 专家列表按时间倒序排序(包含所有专家页面);
OK => 2. 上述专家列表增加"新增任务", 关联专家ID, 页面中不用再选择;
3. 电话拨打列表 "通话记录"和相关操作;
姓名/公司/职位/电话/拨打计数/状态/备注/操作员/关联项目ID;
状态: 未接/待定/拒绝/接受 [做成按键]
4. 删除专家按键('无关联数据, admin only');
OK [2] => 5. 搜索别名表模型;
6. admin增加编辑他人任务TASK的权限;
OK => 7. 去掉左上角 logo(atkins-insights)
8. 结束项目时, 弹窗选择是否拉账单(选项), 仅限"项目结"客户;
OK => 9. 调整财务角色权限, "查看 项目列表 + 项目详情页";
OK => 10. 更换登录页logo;





## 已上线 ##
1. [2020-07-15] [到手4000 RMB] [paid] 预计8月中旬到账
   需求内容: 系统升级支持多用户渠道
2. [2020-07-15] [187.5 RMB] [unpaid] 预计8月中旬到账
   增加财务导出模板 - 支出费用(专家费用)
   2.1 sheet name format "%Y.%m"
   2.2 last row, sum(收费金额), sum/0.95 (next right cell)


## 开发中 ##
3. [2020-07-21] [预估开发时间4~5h, 调试时间1h] [init] 
   需求内容: 
   3.1 创建专家 API, 适配当前版本的创建要求;
   3.2 和指定chrome插件的对接调试;

## 待定事项 ##
   ?.1 项目中专家列表"添加专家备注"字样改成(+)按键样式;
