## 新需求 2020-10-17

OK => [0.5h] 1. 通话记录增加"接受并创建专家按键";
OK => [0.5h] 2. 通话记录创建时,增加状态选择,并记为通话次数 1;
3. 专家页面添加通话记录, ajax形式;
4. 专家支出信息, 增加'身份证'字段(选填), 关联流程;
5. 项目任务"添加支出费用时", 提示费用增加计算后结果;
** 6. 项目详情页, 增加"项目内出账"按键 => "选择模板", excel导出;
7. 项目详情页 > "项目任务" > "时长(分钟)", 增加收费时长显示;
8. 批量导入专家seat;
9. 项目列表页, 增加"weekly update"模板导出;
OK => [1.5h] 10. 通话记录列表, 只显示当前为操作员的, 并且增加更换操作员操作;
OK => ^ 11. 通话记录的电话增加链接, 到专家列表页搜索结果;
OK => ^ 12. html页面<title> 改为 "Atkins Advisory";
OK => ^ 13. 专家列表页搜索项(去掉 '数据渠道', '推荐人ID');
OK => ^ 14. 项目里添加用户时, 不显示"未激活"账号;
OK => ^ 15. 项目详情页 > "项目需求" > "文件下载按键"增加popover,显示文件名;
OK => ^ 16. 项目任务创建页面, 外部链接去掉"全时";
