<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-cc text-danger"></i> CSS DEMO</h5>
        <a href="javascript:history.go(-1);" class="card-header-close">
            <i class="fa fa-close"></i>
        </a>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row justify-content-between">
                <h6>
                    <span class="text-gray mr-3"># 000000</span>
                    <span>TAG - 键值对样式</span>
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="ctag">
                    <div class="ctag-item">DEFAULT</div>
                    <div class="ctag-item primary">.primary</div>
                    <div class="ctag-item success">.success</div>
                    <div class="ctag-item info">.info</div>
                    <div class="ctag-item warning">.warning</div>
                    <div class="ctag-item danger">.danger</div>
                    <div class="ctag-item lilac">.lilac</div>
                    <div class="ctag-item secondary">.secondary</div>
                    <div class="ctag-item dark">.dark</div>
                    <div class="ctag-item light">.light</div>
                    <div class="ctag-item teal">.teal</div>
                </div>
            </div>
            <div class="col-3">
                <div class="ctag">
                    <div class="ctag-item teal f-2">专家总数</div>
                    <div class="ctag-item">1064</div>
                </div>
            </div>
            <div class="col-3">
                <div class="ctag">
                    <div class="ctag-item warning f-2">已签约公司总数</div>
                    <div class="ctag-item">2</div>
                </div>
            </div>
            <div class="col-3">
                <div class="ctag">
                    <div class="ctag-item danger f-2">任务总数</div>
                    <div class="ctag-item">8</div>
                </div>
            </div>
            <div class="col-3">
                <div class="ctag">
                    <div class="ctag-item lilac f-2">任务收费总小时数</div>
                    <div class="ctag-item">8.1</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 form-group">
                <label>input[type=time]</label>
                <input type="time" class="form-control" value="13:14"/>
            </div>
            <div class="col-3 form-group">
                <label>input[type=date]</label>
                <input type="date" class="form-control" value="2022-08-01"/>
            </div>
            <div class="col-3 form-group">
                <label>input[type=week]</label>
                <input type="week" class="form-control" value="2022-W31"/>
            </div>
            <div class="col-3 form-group">
                <label>input[type=month]</label>
                <input type="month" class="form-control" value="2022-08"/>
            </div>
            <div class="col-3 form-group">
                <label>input[type=datetime-local]</label>
                <input type="datetime-local" class="form-control" value="2022-08-01 13:14"/>
            </div>
            <div class="col-3 form-group">
                <label>input[type=text] pattern</label>
                <input type="text" class="form-control" pattern="\d{4}-\d{2}" />
            </div>
            <div class="col-3 form-group">
                <label>input[type=url] pattern</label>
                <input type="url" class="form-control" pattern="https://.*" />
            </div>

        </div>
        <div class="row">
            <div class="col-3 form-group">
                <label>input[type=range]</label><br>
                <input type="range" min="0" max="100" value="60" class="w-100"/>
            </div>
        </div>
    </div>
</div>
